/* bg 1 */
.btn-secondary1 {
  color: #ffffff;
  background-color: #FE8946;
  border-color: #FE8946;
}

.btn-secondary1:hover,
.btn-secondary1:focus,
.btn-secondary1:active,
.btn-secondary1.active,
.open .dropdown-toggle.btn-secondary1 {
  color: #ffffff;
  background-color: #C4571E;
  border-color: #C4571E;
}

.btn-secondary1:active,
.btn-secondary1.active,
.open .dropdown-toggle.btn-secondary1 {
  background-image: none;
}

.btn-secondary1.disabled,
.btn-secondary1[disabled],
fieldset[disabled] .btn-secondary1,
.btn-secondary1.disabled:hover,
.btn-secondary1[disabled]:hover,
fieldset[disabled] .btn-secondary1:hover,
.btn-secondary1.disabled:focus,
.btn-secondary1[disabled]:focus,
fieldset[disabled] .btn-secondary1:focus,
.btn-secondary1.disabled:active,
.btn-secondary1[disabled]:active,
fieldset[disabled] .btn-secondary1:active,
.btn-secondary1.disabled.active,
.btn-secondary1[disabled].active,
fieldset[disabled] .btn-secondary1.active {
  background-color: #FE8946;
  border-color: #FE8946;
}

.btn-secondary1 .badge {
  color: #FE8946;
  background-color: #ffffff;
}

/* bg 2 */
.btn-secondary2 {
  color: #ffffff;
  background-color: #598BA2;
  border-color: #598BA2;
}

.btn-secondary2:hover,
.btn-secondary2:focus,
.btn-secondary2:active,
.btn-secondary2.active,
.open .dropdown-toggle.btn-secondary2 {
  color: #ffffff;
  background-color: #4E6181;
  border-color: #4E6181;
}

.btn-secondary2:active,
.btn-secondary2.active,
.open .dropdown-toggle.btn-secondary2 {
  background-image: none;
}

.btn-secondary2.disabled,
.btn-secondary2[disabled],
fieldset[disabled] .btn-secondary2,
.btn-secondary2.disabled:hover,
.btn-secondary2[disabled]:hover,
fieldset[disabled] .btn-secondary2:hover,
.btn-secondary2.disabled:focus,
.btn-secondary2[disabled]:focus,
fieldset[disabled] .btn-secondary2:focus,
.btn-secondary2.disabled:active,
.btn-secondary2[disabled]:active,
fieldset[disabled] .btn-secondary2:active,
.btn-secondary2.disabled.active,
.btn-secondary2[disabled].active,
fieldset[disabled] .btn-secondary2.active {
  background-color: #598BA2;
  border-color: #598BA2;
}

.btn-secondary2 .badge {
  color: #598BA2;
  background-color: #ffffff;
}

/* bg 3 */
.btn-secondary3 {
  color: #ffffff;
  background-color: #C03C53;
  border-color: #C03C53;
}

.btn-secondary3:hover,
.btn-secondary3:focus,
.btn-secondary3:active,
.btn-secondary3.active,
.open .dropdown-toggle.btn-secondary3 {
  color: #ffffff;
  background-color: #85333F;
  border-color: #85333F;
}

.btn-secondary3:active,
.btn-secondary3.active,
.open .dropdown-toggle.btn-secondary3 {
  background-image: none;
}

.btn-secondary3.disabled,
.btn-secondary3[disabled],
fieldset[disabled] .btn-secondary3,
.btn-secondary3.disabled:hover,
.btn-secondary3[disabled]:hover,
fieldset[disabled] .btn-secondary3:hover,
.btn-secondary3.disabled:focus,
.btn-secondary3[disabled]:focus,
fieldset[disabled] .btn-secondary3:focus,
.btn-secondary3.disabled:active,
.btn-secondary3[disabled]:active,
fieldset[disabled] .btn-secondary3:active,
.btn-secondary3.disabled.active,
.btn-secondary3[disabled].active,
fieldset[disabled] .btn-secondary3.active {
  background-color: #C03C53;
  border-color: #C03C53;
}

.btn-secondary3 .badge {
  color: #C03C53;
  background-color: #ffffff;
}

/* bg 4 */
.btn-secondary4 {
  color: #ffffff;
  background-color: #d4473e;
  border-color: #d4473e;
}

.btn-secondary4:hover,
.btn-secondary4:focus,
.btn-secondary4:active,
.btn-secondary4.active,
.open .dropdown-toggle.btn-secondary4 {
  color: #ffffff;
  background-color: #8f2a2e;
  border-color: #8f2a2e;
}

.btn-secondary4:active,
.btn-secondary4.active,
.open .dropdown-toggle.btn-secondary4 {
  background-image: none;
}

.btn-secondary4.disabled,
.btn-secondary4[disabled],
fieldset[disabled] .btn-secondary4,
.btn-secondary4.disabled:hover,
.btn-secondary4[disabled]:hover,
fieldset[disabled] .btn-secondary4:hover,
.btn-secondary4.disabled:focus,
.btn-secondary4[disabled]:focus,
fieldset[disabled] .btn-secondary4:focus,
.btn-secondary4.disabled:active,
.btn-secondary4[disabled]:active,
fieldset[disabled] .btn-secondary4:active,
.btn-secondary4.disabled.active,
.btn-secondary4[disabled].active,
fieldset[disabled] .btn-secondary4.active {
  background-color: #d4473e;
  border-color: #d4473e;
}

.btn-secondary4 .badge {
  color: #d4473e;
  background-color: #ffffff;
}

/* bg 5 */
.btn-secondary5 {
  color: #ffffff;
  background-color: #c82457;
  border-color: #c82457;
}

.btn-secondary5:hover,
.btn-secondary5:focus,
.btn-secondary5:active,
.btn-secondary5.active,
.open .dropdown-toggle.btn-secondary5 {
  color: #ffffff;
  background-color: #89274e;
  border-color: #89274e;
}

.btn-secondary5:active,
.btn-secondary5.active,
.open .dropdown-toggle.btn-secondary5 {
  background-image: none;
}

.btn-secondary5.disabled,
.btn-secondary5[disabled],
fieldset[disabled] .btn-secondary5,
.btn-secondary5.disabled:hover,
.btn-secondary5[disabled]:hover,
fieldset[disabled] .btn-secondary5:hover,
.btn-secondary5.disabled:focus,
.btn-secondary5[disabled]:focus,
fieldset[disabled] .btn-secondary5:focus,
.btn-secondary5.disabled:active,
.btn-secondary5[disabled]:active,
fieldset[disabled] .btn-secondary5:active,
.btn-secondary5.disabled.active,
.btn-secondary5[disabled].active,
fieldset[disabled] .btn-secondary5.active {
  background-color: #c82457;
  border-color: #c82457;
}

.btn-secondary5 .badge {
  color: #c82457;
  background-color: #ffffff;
}

/* bg 6 */
.btn-secondary6 {
  color: #ffffff;
  background-color: #B44150;
  border-color: #B44150;
}

.btn-secondary6:hover,
.btn-secondary6:focus,
.btn-secondary6:active,
.btn-secondary6.active,
.open .dropdown-toggle.btn-secondary6 {
  color: #ffffff;
  background-color: #82293B;
  border-color: #82293B;
}

.btn-secondary6:active,
.btn-secondary6.active,
.open .dropdown-toggle.btn-secondary6 {
  background-image: none;
}

.btn-secondary6.disabled,
.btn-secondary6[disabled],
fieldset[disabled] .btn-secondary6,
.btn-secondary6.disabled:hover,
.btn-secondary6[disabled]:hover,
fieldset[disabled] .btn-secondary6:hover,
.btn-secondary6.disabled:focus,
.btn-secondary6[disabled]:focus,
fieldset[disabled] .btn-secondary6:focus,
.btn-secondary6.disabled:active,
.btn-secondary6[disabled]:active,
fieldset[disabled] .btn-secondary6:active,
.btn-secondary6.disabled.active,
.btn-secondary6[disabled].active,
fieldset[disabled] .btn-secondary6.active {
  background-color: #B44150;
  border-color: #B44150;
}

.btn-secondary6 .badge {
  color: #B44150;
  background-color: #ffffff;
}

/* bg 7 */
.btn-secondary7 {
  color: #ffffff;
  background-color: #CC3B58;
  border-color: #CC3B58;
}

.btn-secondary7:hover,
.btn-secondary7:focus,
.btn-secondary7:active,
.btn-secondary7.active,
.open .dropdown-toggle.btn-secondary7 {
  color: #ffffff;
  background-color: #A2273C;
  border-color: #A2273C;
}

.btn-secondary7:active,
.btn-secondary7.active,
.open .dropdown-toggle.btn-secondary7 {
  background-image: none;
}

.btn-secondary7.disabled,
.btn-secondary7[disabled],
fieldset[disabled] .btn-secondary7,
.btn-secondary7.disabled:hover,
.btn-secondary7[disabled]:hover,
fieldset[disabled] .btn-secondary7:hover,
.btn-secondary7.disabled:focus,
.btn-secondary7[disabled]:focus,
fieldset[disabled] .btn-secondary7:focus,
.btn-secondary7.disabled:active,
.btn-secondary7[disabled]:active,
fieldset[disabled] .btn-secondary7:active,
.btn-secondary7.disabled.active,
.btn-secondary7[disabled].active,
fieldset[disabled] .btn-secondary7.active {
  background-color: #CC3B58;
  border-color: #CC3B58;
}

.btn-secondary7 .badge {
  color: #CC3B58;
  background-color: #ffffff;
}

/* bg 8 */
.btn-secondary8 {
  color: #ffffff;
  background-color: #725DA8;
  border-color: #725DA8;
}

.btn-secondary8:hover,
.btn-secondary8:focus,
.btn-secondary8:active,
.btn-secondary8.active,
.open .dropdown-toggle.btn-secondary8 {
  color: #ffffff;
  background-color: #443667;
  border-color: #443667;
}

.btn-secondary8:active,
.btn-secondary8.active,
.open .dropdown-toggle.btn-secondary8 {
  background-image: none;
}

.btn-secondary8.disabled,
.btn-secondary8[disabled],
fieldset[disabled] .btn-secondary8,
.btn-secondary8.disabled:hover,
.btn-secondary8[disabled]:hover,
fieldset[disabled] .btn-secondary8:hover,
.btn-secondary8.disabled:focus,
.btn-secondary8[disabled]:focus,
fieldset[disabled] .btn-secondary8:focus,
.btn-secondary8.disabled:active,
.btn-secondary8[disabled]:active,
fieldset[disabled] .btn-secondary8:active,
.btn-secondary8.disabled.active,
.btn-secondary8[disabled].active,
fieldset[disabled] .btn-secondary8.active {
  background-color: #725DA8;
  border-color: #725DA8;
}

.btn-secondary8 .badge {
  color: #725DA8;
  background-color: #ffffff;
}

/* bg 9 */
.btn-secondary9 {
  color: #ffffff;
  background-color: #525252;
  border-color: #525252;
}

.btn-secondary9:hover,
.btn-secondary9:focus,
.btn-secondary9:active,
.btn-secondary9.active,
.open .dropdown-toggle.btn-secondary9 {
  color: #ffffff;
  background-color: #464646;
  border-color: #464646;
}

.btn-secondary9:active,
.btn-secondary9.active,
.open .dropdown-toggle.btn-secondary9 {
  background-image: none;
}

.btn-secondary9.disabled,
.btn-secondary9[disabled],
fieldset[disabled] .btn-secondary9,
.btn-secondary9.disabled:hover,
.btn-secondary9[disabled]:hover,
fieldset[disabled] .btn-secondary9:hover,
.btn-secondary9.disabled:focus,
.btn-secondary9[disabled]:focus,
fieldset[disabled] .btn-secondary9:focus,
.btn-secondary9.disabled:active,
.btn-secondary9[disabled]:active,
fieldset[disabled] .btn-secondary9:active,
.btn-secondary9.disabled.active,
.btn-secondary9[disabled].active,
fieldset[disabled] .btn-secondary9.active {
  background-color: #525252;
  border-color: #525252;
}

.btn-secondary9 .badge {
  color: #525252;
  background-color: #ffffff;
}

/* bg 10 */
.btn-secondary10 {
  color: #ffffff;
  background-color: #297e7e;
  border-color: #297e7e;
}

.btn-secondary10:hover,
.btn-secondary10:focus,
.btn-secondary10:active,
.btn-secondary10.active,
.open .dropdown-toggle.btn-secondary10 {
  color: #ffffff;
  background-color: #0a3955;
  border-color: #0a3955;
}

.btn-secondary10:active,
.btn-secondary10.active,
.open .dropdown-toggle.btn-secondary10 {
  background-image: none;
}

.btn-secondary10.disabled,
.btn-secondary10[disabled],
fieldset[disabled] .btn-secondary10,
.btn-secondary10.disabled:hover,
.btn-secondary10[disabled]:hover,
fieldset[disabled] .btn-secondary10:hover,
.btn-secondary10.disabled:focus,
.btn-secondary10[disabled]:focus,
fieldset[disabled] .btn-secondary10:focus,
.btn-secondary10.disabled:active,
.btn-secondary10[disabled]:active,
fieldset[disabled] .btn-secondary10:active,
.btn-secondary10.disabled.active,
.btn-secondary10[disabled].active,
fieldset[disabled] .btn-secondary10.active {
  background-color: #297e7e;
  border-color: #297e7e;
}

.btn-secondary10 .badge {
  color: #297e7e;
  background-color: #ffffff;
}

/* bg 11 */
.btn-secondary11 {
  color: #ffffff;
  background-color: #D64E5C;
  border-color: #D64E5C;
}

.btn-secondary11:hover,
.btn-secondary11:focus,
.btn-secondary11:active,
.btn-secondary11.active,
.open .dropdown-toggle.btn-secondary11 {
  color: #ffffff;
  background-color: #8e2b30;
  border-color: #8e2b30;
}

.btn-secondary11:active,
.btn-secondary11.active,
.open .dropdown-toggle.btn-secondary11 {
  background-image: none;
}

.btn-secondary11.disabled,
.btn-secondary11[disabled],
fieldset[disabled] .btn-secondary11,
.btn-secondary11.disabled:hover,
.btn-secondary11[disabled]:hover,
fieldset[disabled] .btn-secondary11:hover,
.btn-secondary11.disabled:focus,
.btn-secondary11[disabled]:focus,
fieldset[disabled] .btn-secondary11:focus,
.btn-secondary11.disabled:active,
.btn-secondary11[disabled]:active,
fieldset[disabled] .btn-secondary11:active,
.btn-secondary11.disabled.active,
.btn-secondary11[disabled].active,
fieldset[disabled] .btn-secondary11.active {
  background-color: #D64E5C;
  border-color: #D64E5C;
}

.btn-secondary11 .badge {
  color: #D64E5C;
  background-color: #ffffff;
}

/* bg 12 */
.btn-secondary12 {
  color: #ffffff;
  background-color: #39848a;
  border-color: #39848a;
}

.btn-secondary12:hover,
.btn-secondary12:focus,
.btn-secondary12:active,
.btn-secondary12.active,
.open .dropdown-toggle.btn-secondary12 {
  color: #ffffff;
  background-color: #2d4551;
  border-color: #2d4551;
}

.btn-secondary12:active,
.btn-secondary12.active,
.open .dropdown-toggle.btn-secondary12 {
  background-image: none;
}

.btn-secondary12.disabled,
.btn-secondary12[disabled],
fieldset[disabled] .btn-secondary12,
.btn-secondary12.disabled:hover,
.btn-secondary12[disabled]:hover,
fieldset[disabled] .btn-secondary12:hover,
.btn-secondary12.disabled:focus,
.btn-secondary12[disabled]:focus,
fieldset[disabled] .btn-secondary12:focus,
.btn-secondary12.disabled:active,
.btn-secondary12[disabled]:active,
fieldset[disabled] .btn-secondary12:active,
.btn-secondary12.disabled.active,
.btn-secondary12[disabled].active,
fieldset[disabled] .btn-secondary12.active {
  background-color: #39848a;
  border-color: #39848a;
}

.btn-secondary12 .badge {
  color: #39848a;
  background-color: #ffffff;
}

/* bg 13 */
.btn-secondary13 {
  color: #ffffff;
  background-color: #3f556d;
  border-color: #3f556d;
}

.btn-secondary13:hover,
.btn-secondary13:focus,
.btn-secondary13:active,
.btn-secondary13.active,
.open .dropdown-toggle.btn-secondary13 {
  color: #ffffff;
  background-color: #282d43;
  border-color: #282d43;
}

.btn-secondary13:active,
.btn-secondary13.active,
.open .dropdown-toggle.btn-secondary13 {
  background-image: none;
}

.btn-secondary13.disabled,
.btn-secondary13[disabled],
fieldset[disabled] .btn-secondary13,
.btn-secondary13.disabled:hover,
.btn-secondary13[disabled]:hover,
fieldset[disabled] .btn-secondary13:hover,
.btn-secondary13.disabled:focus,
.btn-secondary13[disabled]:focus,
fieldset[disabled] .btn-secondary13:focus,
.btn-secondary13.disabled:active,
.btn-secondary13[disabled]:active,
fieldset[disabled] .btn-secondary13:active,
.btn-secondary13.disabled.active,
.btn-secondary13[disabled].active,
fieldset[disabled] .btn-secondary13.active {
  background-color: #3f556d;
  border-color: #3f556d;
}

.btn-secondary13 .badge {
  color: #3f556d;
  background-color: #ffffff;
}

/* bg 14 */
.btn-secondary14 {
  color: #ffffff;
  background-color: #4f5465;
  border-color: #4f5465;
}

.btn-secondary14:hover,
.btn-secondary14:focus,
.btn-secondary14:active,
.btn-secondary14.active,
.open .dropdown-toggle.btn-secondary14 {
  color: #ffffff;
  background-color: #3f4351;
  border-color: #3f4351;
}

.btn-secondary14:active,
.btn-secondary14.active,
.open .dropdown-toggle.btn-secondary14 {
  background-image: none;
}

.btn-secondary14.disabled,
.btn-secondary14[disabled],
fieldset[disabled] .btn-secondary14,
.btn-secondary14.disabled:hover,
.btn-secondary14[disabled]:hover,
fieldset[disabled] .btn-secondary14:hover,
.btn-secondary14.disabled:focus,
.btn-secondary14[disabled]:focus,
fieldset[disabled] .btn-secondary14:focus,
.btn-secondary14.disabled:active,
.btn-secondary14[disabled]:active,
fieldset[disabled] .btn-secondary14:active,
.btn-secondary14.disabled.active,
.btn-secondary14[disabled].active,
fieldset[disabled] .btn-secondary14.active {
  background-color: #4f5465;
  border-color: #4f5465;
}

.btn-secondary14 .badge {
  color: #4f5465;
  background-color: #ffffff;
}

/* bg 15 */
.btn-secondary15 {
  color: #ffffff;
  background-color: #cb496d;
  border-color: #cb496d;
}

.btn-secondary15:hover,
.btn-secondary15:focus,
.btn-secondary15:active,
.btn-secondary15.active,
.open .dropdown-toggle.btn-secondary15 {
  color: #ffffff;
  background-color: #792f3e;
  border-color: #792f3e;
}

.btn-secondary15:active,
.btn-secondary15.active,
.open .dropdown-toggle.btn-secondary15 {
  background-image: none;
}

.btn-secondary15.disabled,
.btn-secondary15[disabled],
fieldset[disabled] .btn-secondary15,
.btn-secondary15.disabled:hover,
.btn-secondary15[disabled]:hover,
fieldset[disabled] .btn-secondary15:hover,
.btn-secondary15.disabled:focus,
.btn-secondary15[disabled]:focus,
fieldset[disabled] .btn-secondary15:focus,
.btn-secondary15.disabled:active,
.btn-secondary15[disabled]:active,
fieldset[disabled] .btn-secondary15:active,
.btn-secondary15.disabled.active,
.btn-secondary15[disabled].active,
fieldset[disabled] .btn-secondary15.active {
  background-color: #cb496d;
  border-color: #cb496d;
}

.btn-secondary15 .badge {
  color: #cb496d;
  background-color: #ffffff;
}

/* bg 16 */
.btn-secondary16 {
  color: #ffffff;
  background-color: #3f71ac;
  border-color: #3f71ac;
}

.btn-secondary16:hover,
.btn-secondary16:focus,
.btn-secondary16:active,
.btn-secondary16.active,
.open .dropdown-toggle.btn-secondary16 {
  color: #ffffff;
  background-color: #072c49;
  border-color: #072c49;
}

.btn-secondary16:active,
.btn-secondary16.active,
.open .dropdown-toggle.btn-secondary16 {
  background-image: none;
}

.btn-secondary16.disabled,
.btn-secondary16[disabled],
fieldset[disabled] .btn-secondary16,
.btn-secondary16.disabled:hover,
.btn-secondary16[disabled]:hover,
fieldset[disabled] .btn-secondary16:hover,
.btn-secondary16.disabled:focus,
.btn-secondary16[disabled]:focus,
fieldset[disabled] .btn-secondary16:focus,
.btn-secondary16.disabled:active,
.btn-secondary16[disabled]:active,
fieldset[disabled] .btn-secondary16:active,
.btn-secondary16.disabled.active,
.btn-secondary16[disabled].active,
fieldset[disabled] .btn-secondary16.active {
  background-color: #3f71ac;
  border-color: #3f71ac;
}

.btn-secondary16 .badge {
  color: #3f71ac;
  background-color: #ffffff;
}

/* bg 17 */
.btn-secondary17 {
  color: #ffffff;
  background-color: #749cb6;
  border-color: #749cb6;
}

.btn-secondary17:hover,
.btn-secondary17:focus,
.btn-secondary17:active,
.btn-secondary17.active,
.open .dropdown-toggle.btn-secondary17 {
  color: #ffffff;
  background-color: #4b4239;
  border-color: #4b4239;
}

.btn-secondary17:active,
.btn-secondary17.active,
.open .dropdown-toggle.btn-secondary17 {
  background-image: none;
}

.btn-secondary17.disabled,
.btn-secondary17[disabled],
fieldset[disabled] .btn-secondary17,
.btn-secondary17.disabled:hover,
.btn-secondary17[disabled]:hover,
fieldset[disabled] .btn-secondary17:hover,
.btn-secondary17.disabled:focus,
.btn-secondary17[disabled]:focus,
fieldset[disabled] .btn-secondary17:focus,
.btn-secondary17.disabled:active,
.btn-secondary17[disabled]:active,
fieldset[disabled] .btn-secondary17:active,
.btn-secondary17.disabled.active,
.btn-secondary17[disabled].active,
fieldset[disabled] .btn-secondary17.active {
  background-color: #749cb6;
  border-color: #749cb6;
}

.btn-secondary17 .badge {
  color: #749cb6;
  background-color: #ffffff;
}
